.debug-program-id {
  padding-bottom: 30px;
}
div.programs-container {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.15);
  height: 300px;
  overflow-y: scroll;

  .programs-header {
    font-size: 28px;
    padding-bottom: 30px;
    font-family: 'Josefin Sans', Arial;
    font-weight: bold;
  }

  .programs-columns {
    display: flex;
    flex-direction: row;
    .column {
      &.seasons-column {
        width: 20%;
        .row {
          padding-bottom: 10px;
          .season-checkbox {
            margin-right: 10px;
          }
          .season-name {
            font-size: 19px;
            text-transform: capitalize;
          }
          .season-months {
            padding-left: 25px;
          }
        }
      }
      &.types-column {
        width: 25%;
        font-family: 'Josefin Sans', Arial;
        position: relative;
        top: 0;

        .sticky {
          position: sticky;
          top: 0;
        }

        .row {
          padding-bottom: 28px;
          .type-checkbox {
            margin-right: 10px;
          }
          .type-name {
            font-size: 19px;
            text-transform: capitalize;
          }
        }
      }
      &.accordions {
        width: 75%;
        padding-left: 30px;
      }
    }
  }
}
